[Desktop Entry]
Encoding=UTF-8
Name=Telegram
Exec=/usr/local/bin/telegram/Telegram
Icon=/usr/local/bin/telegram/telegram128.png
Type=Application
Categories=Network
Comment=Telegram

[Desktop Action Gallery]
Exec=/usr/local/bin/telegram/Telegram
Name=Telegram
